<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <title>Contact us</title>
    <script src="js/showTime.js"></script>
</head>

<body>
    <%- include('header.ejs') %>
        <div class="main">
            <%- include('navbar.ejs') %>
                <div class="content">
                    <h2>Contact Information</h2>
                    <p>If you have any questions or inquiries, please feel free to contact us:</p>
                    <ul>
                        <li><strong>Name:</strong> Amirali Dehestani</li>
                        <li><strong>Student ID:</strong> 40222905</li>
                        <li><strong>Email:</strong> support@pawsitiveconnections.com</li>
                        <li><strong>Phone:</strong> +1 (514) 123-4567</li>
                        <li><strong>Address:</strong> 1000 Pet Adoption Street, Montreal, QC H1A 1A1</li>
                    </ul>
                </div>
        </div>
        <%- include('footer.ejs') %>

</body>

</html>