<div class="header">
    <a href="index.html" class="logo">
        <img src="images/Logo.png" class="logo-img" alt="logo">
        <span>Pawsitive Connections: Find Your Fur-ever Friend!</span>
    </a>
    <span id="time"></span>
</div>