body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #222831;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  color: #ffffff;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: large;
  margin-left: 10px;
}

.logo-img {
  width: 70px;
  display: inline;
  vertical-align: middle;
}

#time {
  margin-right: 50px;
}

.main {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

.navbar {
  background-color: #222831;
  height: inherit;
  max-width: 220px;
  width: 100%;
}

.links-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 550px;
}

.links-list li {
  list-style: none;
  height: 100%;
  border-bottom: 1px solid #ffffff77;
}

.links-list li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-left: 15px;
  height: 100%;
  width: 100%;
}

.links-list li a:hover {
  text-decoration: underline;
}

.content {
  background-color: #eeeeee;
  color: #222831;
  width: 100%;
  padding: 35px;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #222831;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  padding-top: 50px;
}

.privacy-disclaimer a {
  color: #ffffff;
}

.pet {
  background-color: #22283150;
  max-width: 500px;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
}

.pet-image {
  width: 200px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.pet-info-table {
  text-align: left;
}

.pet-info-table td,
th {
  padding: 5px 10px;
}

.pets-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.interested-button {
  display: block;
  margin: 10px auto;
  background-color: #00adb5;
  color: #ffffff;
  padding: 6px 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.interested-button:hover {
  background-color: #1bc4cd;
  cursor: pointer;
}

.submit-button {
  background-color: #00adb5;
  color: #ffffff;
  padding: 6px 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-top: 5px;
}

.submit-button:hover {
  background-color: #1bc4cd;
  cursor: pointer;
}

.in-text-link {
  color: #222831;
  font-weight: bold;
}

.in-text-link:hover {
  color: #00adb5;
}

.welcome-section {
  margin-bottom: 40px;
  min-width: 380px;
}

.welcome-image {
  max-width: 250px;
}

.landing-welcome {
  display: flex;
  gap: 20px;
}

@media (max-width: 950px) {
  .landing-welcome {
    flex-wrap: wrap;
  }
}

.form-wrapper {
  background-color: #22283150;
  padding: 20px;
  border-radius: 5px;
  width: fit-content;
}

.form-div {
  padding-bottom: 10px;
}

.form-div label {
  display: inline-block;
  width: 250px;
}

.form-div select {
  width: 250px;
  padding: 4px;
}

.form-div input[type='text'] {
  width: 250px;
}

.form-div input[type='email'] {
  width: 250px;
}

.form-div input[type='password'] {
  width: 250px;
}

.custom-checkbox {
  accent-color: #00acb5aa;
}

.comments-box {
  outline: none;
  width: 100%;
  border-radius: 5px;
  padding: 4px;
  box-sizing: border-box;
}

.comments-box:focus {
  border: 2px solid #00acb5aa;
}

.input-box {
  outline: none;
  border-radius: 5px;
  padding: 4px;
}

.input-box:focus {
  border: 2px solid #00acb5aa;
}

.signup-form-wrapper {
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.signup-form {
  height: 250px;
  width: 350px;
  box-sizing: border-box;
  background-color: #22283150;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.signup-form .form-div {
  width: 250px;
}

.signup-form-description {
  height: 250px;
  width: 350px;
  box-sizing: border-box;
  background-color: #22283150;
  display: flex;
  align-items: center;
}

.signup-form-description ul li {
  margin-right: 30px;
  padding-bottom: 30px;
}
